@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-LightItalic.eot');
    src: url('../font/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-LightItalic.woff2') format('woff2'),
        url('../font/Poppins-LightItalic.woff') format('woff'),
        url('../font/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-BoldItalic.eot');
    src: url('../font/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-BoldItalic.woff2') format('woff2'),
        url('../font/Poppins-BoldItalic.woff') format('woff'),
        url('../font/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBoldItalic.eot');
    src: url('../font/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Poppins-SemiBoldItalic.woff') format('woff'),
        url('../font/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.eot');
    src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Regular.woff2') format('woff2'),
        url('../font/Poppins-Regular.woff') format('woff'),
        url('../font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBold.eot');
    src: url('../font/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-SemiBold.woff2') format('woff2'),
        url('../font/Poppins-SemiBold.woff') format('woff'),
        url('../font/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.eot');
    src: url('../font/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Light.woff2') format('woff2'),
        url('../font/Poppins-Light.woff') format('woff'),
        url('../font/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.eot');
    src: url('../font/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Bold.woff2') format('woff2'),
        url('../font/Poppins-Bold.woff') format('woff'),
        url('../font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
