<<<<<<< HEAD
// Colores
$azul: #0d204b;
$azul_medio: #1e477c;
$azul_claro: #347eff;
$aqua: #5ee8ff;
=======
$azul: #0080ff;
$turqueza: #06e1ff;
$negro_cuerpo: #030303;
$gris: #d2cec5;
>>>>>>> ff23a202443885ceb97e00c37f0a3afabebea7c4
